* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

*.gif binary
*.ico binary
*.jpeg binary
*.jpg binary
*.mp4 binary
*.png binary
*.svg text
*.wasm binary
*.woff binary
*.woff2 binary
